<ion-content class="pokedex-content" [fullscreen]="true">
  <div class="pokedex-card">
    <ion-buttons slot="start">
  <ion-back-button defaultHref="/"></ion-back-button>
</ion-buttons>
    <img [src]="pokemon?.sprites?.other?.['official-artwork']?.front_default" alt="{{ pokemon?.name }}" />

    <h1>{{ pokemon?.name | titlecase }}</h1>

    <div class="info-line">
      <strong>Altura:</strong> {{ pokemon?.height / 10 }} m
    </div>
    <div class="info-line">
      <strong>Peso:</strong> {{ pokemon?.weight / 10 }} kg
    </div>
    <div class="info-line">
      <strong>Tipo(s):</strong>
      <span
        class="type-badge"
        *ngFor="let type of pokemon?.types"
        [ngClass]="type.type.name"
      >
        {{ type.type.name | titlecase }}
      </span>
    </div>
    

  </div>
</ion-content>
